{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
<!--        {{ page_title|default:"Main site" }}-->
        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'landing_page/main_styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/">Main site</a></li>
        <li><a href="/">My account</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
</div>
{% block content %}
<div class="content-links">
    <div class="mainMenuItem">
        <a href="/new_character" title="New character">
            <img src="{% static '/landing_page/hero-icon.png' %}">
        </a>
        <div class="mainMenuDesc hidden">
            NEW CHARACTER
        </div>
    </div>
    <div class="mainMenuItem">
        <a href="/view_campaigns" title="View campaigns">
            <img src="{% static '/landing_page/campaign-icon.png' %}">
        </a>
        <div class="mainMenuDesc hidden">
            VIEW CAMPAIGNS
        </div>
    </div>

    <div class="mainMenuItem">
        <a href="/view_characters" title="View all characters">
            <img src="{% static '/landing_page/characters-icon.png' %}">
        </a>
        <div class="mainMenuDesc hidden">
            VIEW ALL CHARACTERS
        </div>
    </div>
    <div class="mainMenuItem">
        <a href="/roll_dice" title="Roll the dice!">
            <img src="{% static '/landing_page/dice-icon.png' %}">
        </a>
        <div class="mainMenuDesc hidden">
            ROLL THE DICE!
        </div>
    </div>
</div>

<div class="lower-image">
    <img src="{% static '/landing_page/warrior.png' %}">
</div>
{% endblock content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'landing_page/main_site.js' %}"></script>
</body>
</html>