{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ page_title|default:"Main site" }}
        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'landing_page/main_styles.css' %}">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/">Main site</a></li>
        <li><a href="/">My account</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
</div>
{% block content %}
    <div class="content-links">
    <div class="mainMenuItem">
        <a href="/new_character" title="New character">
            <img src="{% static 'hero-icon.png' %}">
        </a>
    </div>
    <div class="mainMenuItem">
        <a href="/view_campaigns" title="View campaigns">
            <img src="{% static 'campaign-icon.png' %}">
        </a>
    </div>
    <div class="mainMenuItem">
        <a href="/view_characters" title="View characters">
            <img src="{% static 'characters-icon.png' %}">
        </a>
    </div>
    <div class="mainMenuItem">
        <a href="/roll_dice" title="Roll the dice!">
            <img src="{% static 'dice-icon.png' %}">
        </a>
    </div>
    </div>
{% endblock content %}

<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'landing_page/main_site.js' %}"></script>
</body>
</html>