{% extends 'landing_page/main_site.html' %}

{% block title %}
List
{% endblock title %}

{% block content %}
<div class="campaigns-manage">
    <a href="/add_entry" title="Add entry">
        <button>Add journal entry</button>
    </a>
    <ul>
        <li><h3>Campaign name: {{ chosen_campaign }}</h3></li>
        <ul>Characters:
            {% for char in chosen_campaign.characters.all %}
            <li>{{ char.name }}</li>
            {% endfor %}
        </ul>
        {% for entry in entries %}
        <li>Entry name: {{ entry.entry_name }}<br>
            Entry content: {{ entry.entry_content }}<br>
            Time added: {{ entry.time_added }}<br>
            Time modified: {{ entry.time_modified }}
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>
{% endblock content %}