{% extends 'landing_page/main_site.html' %}

{% block title %}
List of campaigns
{% endblock title %}

{% block content %}
<div class="campaigns">
    <ul>
        {% for campaign in object_list %}
        <li>
            <p class="campaign-name">{{ campaign }}</p>
            <p class="campaign-comment">{{ campaign.comment }}</p>
            <button>
                <a href="/view_campaigns/{{ campaign.id }}" title="Campaign details">Campaign details</a>
            </button>
            <button>
                <a href="/add_entry" title="Add entry">Add journal entry</a>
            </button>
            <button>
                <a href="/edit_campaign" title="Edit campaign">Edit campaign</a>
            </button>
            <button>
                <a href="/delete_campaign" title="Delete campaign">Delete campaign</a>
            </button>
            <hr>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}