{% extends 'landing_page/main_site.html' %}
{% load static %}
{% block title %}
Strona logowania
{% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'landing_page/login.css' %}">
<div class="login_page">
    <h2>Zaloguj się</h2>
    {% if form.errors %}
    <p>Formularz logowania zawiera błędy</p>
    {% endif %}
    <form action='' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Ok!">Ok!</button>
    </form>

    <p>Nie masz konta? <a href="/register">Zarejestruj się!</a></p>
</div>
<h3>{{ text }}</h3>
{% endblock %}