{% extends 'char_app/char_base.html' %}

{% block content %}
<form class="charsheet" action="" method="get" id="charsheet">
    {% csrf_token %}
    <header>
        <section class="charname">
            <label>Imię bohatera</label>
            <input id="charname" name="charname" value="{{ object.name }}" readonly/>
        </section>
        <section class="misc">
            <ul>
                <li class="classlevel">
                    {% for class in object.hero_classes.all %}
                    <input id="class" name="class" value="{{ class }}" readonly/>
                    {% endfor %}
                    <input id="level" name="level" value="{{ object.basic_level }}" readonly/>
                    <label>Klasa i Poziom</label>
                </li>
                <li>
                    <label for="background">Pochodzenie</label>
                    <input id="background" name="background" value="{{ object.background }}" readonly/>
                </li>
                <li>
                    <label for="playername">Imię gracza</label>
                    <input id="playername" value="{{ request.user }}" readonly>
                </li>
                <li>
                    <label for="race">Rasa</label>
                    <input id="race" name="race" value="{{ object.race }}" readonly/>
                </li>
                <li>
                    <label for="alignment">Charakter</label>
                    <input id="alignment" name="alignment" value="{{ object.alignment }}" readonly/>
                </li>
                <li>
                    <label for="experiencepoints">Punkty doświadczenia</label>
                    <input id="experiencepoints" name="experiencepoints" value="{{ object.experience }}" readonly/>
                </li>
            </ul>
        </section>
    </header>
    <main>
        <section>
            <section class="attributes">
                <div class="scores">
                    <ul>
                        <li>
                            <div class="score">
                                <label for="Strengthscore">Siła</label>
                                <input id="Strengthscore" name="Strengthscore" value="{{ object.strength }}" readonly
                                       class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Strengthmod" name="Strengthmod" value="{{ object.strength_mod }}" readonly
                                       class="statmod"/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Dexterityscore">Zręczność</label>
                                <input id="Dexterityscore" name="Dexterityscore" value="{{ object.dexterity }}" readonly
                                       class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Dexteritymod" name="Dexteritymod" value="{{ object.dexterity_mod }}" readonly
                                       class=statmod/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Constitutionscore">Kondycja</label>
                                <input id="Constitutionscore" name="Constitutionscore" value="{{ object.constitution }}"
                                       readonly class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Constitutionmod" name="Constitutionmod" value="{{ object.constitution_mod }}"
                                       readonly class="statmod"/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Wisdomscore">Mądrość</label>
                                <input id="Wisdomscore" name="Wisdomscore" value="{{ object.wisdom }}" readonly
                                       class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Wisdommod" name="Wisdommod" value="{{ object.wisdom_mod }}" readonly
                                       class="statmod"/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Intelligencescore">Inteligencja</label>
                                <input id="Intelligencescore" name="Intelligencescore" value="{{ object.intelligence }}"
                                       readonly class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Intelligencemod" name="Intelligencemod" value="{{ object.intelligence_mod }}"
                                       readonly class="statmod"/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Charismascore">Charyzma</label>
                                <input id="Charismascore" name="Charismascore" value="{{ object.charisma }}" readonly
                                       class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Charismamod" name="Charismamod" value="{{ object.charisma_mod }}" readonly
                                       class="statmod"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="attr-applications">
                    <div class="inspiration box">
                        <div class="label-container">
                            <label for="inspiration">Inspiracja</label>
                        </div>
                        <input id="inspiration" type="checkbox"/>
                    </div>
                    <div class="proficiencybonus box">
                        <div class="label-container">
                            <label for="proficiencybonus">Bonus Biegłości</label>
                        </div>
                        <input id="proficiencybonus" name="proficiencybonus"
                               value="{{ object.proficiency_bonus }}" readonly/>
                    </div>
                    <div class="saves list-section box">
                        <ul>
                            <li>
                                <label for="Strength-save">Siła</label>
                                <input class="save-mod" id="Strength-save" name="Strength-save" type="text" readonly/>
                                <input class="save-prof" id="Strength-save-prof" name="Strength-save-prof"
                                       type="checkbox"
                                       {% if object.strength_save_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Dexterity-save">Zręczność</label>
                                <input class="save-mod" id="Dexterity-save" name="Dexterity-save" type="text" readonly/>
                                <input class="save-prof" id="Dexterity-save-prof" name="Dexterity-save-prof"
                                       type="checkbox"
                                       {% if object.dexterity_save_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Constitution-save">Kondycja</label>
                                <input class="save-mod" id="Constitution-save" name="Constitution-save" type="text" readonly/>
                                <input class="save-prof" id="Constitution-save-prof" name="Constitution-save-prof"
                                       type="checkbox"
                                       {% if object.constitution_save_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Wisdom-save">Mądrość</label>
                                <input class="save-mod" id="Wisdom-save" name="Wisdom-save" type="text" readonly/>
                                <input class="save-prof" id="Wisdom-save-prof" name="Wisdom-save-prof" type="checkbox"
                                       {% if object.wisdom_save_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Intelligence-save">Inteligencja</label>
                                <input class="save-mod" id="Intelligence-save" name="Intelligence-save" type="text" readonly/>
                                <input class="save-prof" id="Intelligence-save-prof" name="Intelligence-save-prof"
                                       type="checkbox"
                                       {% if object.intelligence_save_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Charisma-save">Charyzma</label>
                                <input class="save-mod" id="Charisma-save" name="Charisma-save" type="text" readonly/>
                                <input class="save-prof" id="Charisma-save-prof" name="Charisma-save-prof"
                                       type="checkbox"
                                       {% if object.charisma_save_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                        </ul>
                        <div class="label">
                            Rzuty Obronne
                        </div>
                        <!--                        TODO-->
                    </div>
                    <div class="skills list-section box">
                        <ul>
                            <li>
                                <label for="Acrobatics">Akrobatyka <span class="skill">(Zrc)</span></label>
                                <input class="skill-mod" id="Acrobatics" name="Acrobatics" type="text" readonly/>
                                <input class="skill-prof" id="Acrobatics-prof" name="Acrobatics-prof" type="checkbox"
                                       {% if object.acrobatics_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Animal Handling">Op. nad zwierz. <span
                                        class="skill">(Mdr)</span></label>
                                <input class="skill-mod" id="Animal Handling" name="Animal Handling" type="text" readonly/>
                                <input class="skill-prof" id="Animal Handling-prof" name="Animal Handling-prof" type="checkbox"
                                       {% if object.animal_handling_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Arcana">Wiedza tajemna <span class="skill">(Int)</span></label>
                                <input class="skill-mod" id="Arcana" name="Arcana" type="text" readonly/>
                                <input class="skill-prof" id="Arcana-prof" name="Arcana-prof" type="checkbox"
                                       {% if object.arcana_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Athletics">Atletyka <span class="skill">(Sił)</span></label>
                                <input class="skill-mod" id="Athletics" name="Athletics" type="text" readonly/>
                                <input class="skill-prof" id="Athletics-prof" name="Athletics-prof" type="checkbox"
                                       {% if object.athletics_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Deception">Oszustwo <span class="skill">(Cha)</span></label>
                                <input class="skill-mod" id="Deception" name="Deception" type="text" readonly/>
                                <input class="skill-prof" id="Deception-prof" name="Deception-prof" type="checkbox"
                                       {% if object.deception_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="History">Historia <span class="skill">(Int)</span></label>
                                <input class="skill-mod" id="History" name="History" type="text" readonly/>
                                <input class="skill-prof" id="History-prof" name="History-prof" type="checkbox"
                                       {% if object.history_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Insight">Intuicja <span class="skill">(Mdr)</span></label>
                                <input class="skill-mod" id="Insight" name="Insight" type="text" readonly/>
                                <input class="skill-prof" id="Insight-prof" name="Insight-prof" type="checkbox"
                                       {% if object.insight_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Intimidation">Zastraszenie <span class="skill">(Cha)</span></label>
                                <input class="skill-mod" id="Intimidation" name="Intimidation" type="text" readonly/>
                                <input class="skill-prof" id="Intimidation-prof" name="Intimidation-prof" type="checkbox"
                                       {% if object.intimidation_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Investigation">Śledztwo <span class="skill">(Int)</span></label>
                                <input class="skill-mod" id="Investigation" name="Investigation" type="text" readonly/>
                                <input class="skill-prof" id="Investigation-prof" name="Investigation-prof" type="checkbox"
                                       {% if object.investigation_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Medicine">Medycyna <span class="skill">(Mdr)</span></label>
                                <input class="skill-mod" id="Medicine" name="Medicine" type="text" readonly/>
                                <input class="skill-prof" id="Medicine-prof" name="Medicine-prof" type="checkbox"
                                       {% if object.medicine_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Nature">Przyroda <span class="skill">(Int)</span></label>
                                <input class="skill-mod" id="Nature" name="Nature" type="text" readonly/>
                                <input class="skill-prof" id="Nature-prof" name="Nature-prof" type="checkbox"
                                       {% if object.nature_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Perception">Percepcja <span class="skill">(Mdr)</span></label>
                                <input class="skill-mod" id="Perception" name="Perception" type="text" readonly/>
                                <input class="skill-prof" id="Perception-prof" name="Perception-prof" type="checkbox"
                                       {% if object.perception_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Performance">Występy <span class="skill">(Cha)</span></label>
                                <input class="skill-mod" id="Performance" name="Performance" type="text" readonly/>
                                <input class="skill-prof" id="Performance-prof" name="Performance-prof" type="checkbox"
                                       {% if object.performance_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Persuasion">Perswazja <span class="skill">(Cha)</span></label>
                                <input class="skill-mod" id="Persuasion" name="Persuasion" type="text" readonly/>
                                <input class="skill-prof" id="Persuasion-prof" name="Persuasion-prof" type="checkbox"
                                       {% if object.persuasion_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Religion">Religia <span class="skill">(Int)</span></label>
                                <input class="skill-mod" id="Religion" name="Religion" type="text" readonly/>
                                <input class="skill-prof" id="Religion-prof" name="Religion-prof" type="checkbox"
                                       {% if object.religion_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Sleight of Hand">Zwinne dłonie <span class="skill">(Zrc)</span></label>
                                <input class="skill-mod" id="Sleight of Hand" name="Sleight of Hand" type="text" readonly/>
                                <input class="skill-prof" id="Sleight of Hand-prof" name="Sleight of Hand-prof" type="checkbox"
                                       {% if object.sleigh_of_hand_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Stealth">Skradanie się <span class="skill">(Zrc)</span></label>
                                <input class="skill-mod" id="Stealth" name="Stealth" type="text" readonly/>
                                <input class="skill-prof" id="Stealth-prof" name="Stealth-prof" type="checkbox"
                                       {% if object.stealth_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                            <li>
                                <label for="Survival">Szt. przetrwania <span class="skill">(Mdr)</span></label>
                                <input class="skill-mod" id="Survival" name="Survival" type="text" readonly/>
                                <input class="skill-prof" id="Survival-prof" name="Survival-prof" type="checkbox"
                                       {% if object.survival_prof == True %}
                                       checked
                                       {% endif %}
                                       disabled="disabled"/>
                            </li>
                        </ul>
                        <div class="label">
                            Umiejętności
                        </div>
                    </div>
                </div>
            </section>
            <div class="passive-perception box">
                <div class="label-container">
                    <label for="passiveperception">Mądrość Pasywna (Percepcja)</label>
                </div>
                <input id="passiveperception" name="passiveperception"
                       value="{{ object.passive_perception }}" readonly type="text"/>
            </div>
            <div class="otherprofs box textblock">
                <label for="otherprofs">Inne Biegłości i języki</label>
                <textarea id="otherprofs" name="otherprofs"></textarea>
            </div>
        </section>
        <section>
            <section class="combat">
                <div class="armorclass">
                    <div>
                        <label for="ac">Klasa Pancerza</label>
                        <input id="ac" name="ac" value="{{ object.armor_class }}" readonly type="text"/>
                    </div>
                </div>
                <div class="initiative">
                    <div>
                        <label for="initiative">Inicjatywa</label>
                        <input id="initiative" name="initiative" placeholder="+0" type="text"/>
                    </div>
                </div>
                <div class="speed">
                    <div>
                        <label for="speed">Szybkość</label>
                        <input id="speed" name="speed" value="{{ object.speed }}" readonly type="text"/>
                    </div>
                </div>
                <div class="hp">
                    <div class="regular">
                        <div class="max">
                            <label for="maxhp">PW Maksymalne</label>
                            <input id="maxhp" name="maxhp" placeholder="10" type="text"/>
                        </div>
                        <div class="current">
                            <label for="currenthp">Aktualne PW</label>
                            <input id="currenthp" name="currenthp" type="text"/>
                        </div>
                    </div>
                    <div class="temporary">
                        <label for="temphp">Tymczasowe PW</label>
                        <input id="temphp" name="temphp" type="text"/>
                    </div>
                </div>
                <div class="hitdice">
                    <div>
                        <div class="total">
                            <label onclick="totalhd_clicked()" for="totalhd">Łącznie</label>
                            <input id="totalhd" name="totalhd" placeholder="2k10" type="text"/>
                        </div>
                        <div class="remaining">
                            <label for="remaininghd">Kość Wytrzymałości</label>
                            <input id="remaininghd" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="deathsaves">
                    <div>
                        <div class="label">
                            <label>Rzuty przeciw śmierci</label>
                        </div>
                        <div class="marks">
                            <div class="deathsuccesses">
                                <label>Sukcesy</label>
                                <div class="bubbles">
                                    <input name="deathsuccess1" type="checkbox"/>
                                    <input name="deathsuccess2" type="checkbox"/>
                                    <input name="deathsuccess3" type="checkbox"/>
                                </div>
                            </div>
                            <div class="deathfails">
                                <label>Porażki</label>
                                <div class="bubbles">
                                    <input name="deathfail1" type="checkbox"/>
                                    <input name="deathfail2" type="checkbox"/>
                                    <input name="deathfail3" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="attacksandspellcasting">
                <div>
                    <label>Ataki i czary</label>
                    <table>
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Bonus do ataku</th>
                            <th>Obrażenia/Typ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input name="atkname1" type="text"/></td>
                            <td><input name="atkbonus1" type="text"/></td>
                            <td><input name="atkdamage1" type="text"/></td>
                        </tr>
                        <tr>
                            <td><input name="atkname2" type="text"/></td>
                            <td><input name="atkbonus2" type="text"/></td>
                            <td><input name="atkdamage2" type="text"/></td>
                        </tr>
                        <tr>
                            <td><input name="atkname3" type="text"/></td>
                            <td><input name="atkbonus3" type="text"/></td>
                            <td><input name="atkdamage3" type="text"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <textarea></textarea>
                </div>
            </section>
            <section class="equipment">
                <div>
                    <label>Ekwipunek</label>
                    <div class="money">
                        <ul>
                            <li>
                                <label for="cp">SM</label>
                                <input id="cp" name="cp"/>
                            </li>
                            <li>
                                <label for="sp">SS</label>
                                <input id="sp" name="sp"/>
                            </li>
                            <li>
                                <label for="ep">SE</label>
                                <input id="ep" name="ep"/>
                            </li>
                            <li>
                                <label for="gp">SZ</label>
                                <input id="gp" name="gp"/>
                            </li>
                            <li>
                                <label for="pp">SP</label>
                                <input id="pp" name="pp"/>
                            </li>
                        </ul>
                    </div>
                    <textarea placeholder="Lista ewkipunku"></textarea>
                </div>
            </section>
        </section>
        <section>
            <section class="flavor">
                <div class="personality">
                    <label for="personality">Osobowość</label>
                    <textarea id="personality" name="personality"></textarea>
                </div>
                <div class="ideals">
                    <label for="ideals">Ideały</label>
                    <textarea id="ideals" name="ideals"></textarea>
                </div>
                <div class="bonds">
                    <label for="bonds">Więzi</label>
                    <textarea id="bonds" name="bonds"></textarea>
                </div>
                <div class="flaws">
                    <label for="flaws">Wady</label>
                    <textarea id="flaws" name="flaws"></textarea>
                </div>
            </section>
            <section class="features">
                <div>
                    <label for="features">Zdolności i korzyści</label>
                    <textarea id="features" name="features"></textarea>
                </div>
            </section>
        </section>
    </main>
</form>
{% endblock content %}
