{% extends 'char_app/char_base.html' %}

{% block content %}
<form class="charsheet" action="" method="post" id="charsheet">
    {% csrf_token %}
    <header>
        <section class="charname">
            <label>Imię bohatera</label>
            <input id="charname" name="charname" placeholder="Roland Deschain"/>
        </section>
        <section class="misc">
            <ul>
                <li class="classlevel">
                    <select id="class" name="class">
                        {% for class in classes %}
                        <option>{{ class }}</option>
                        {% endfor %}
                    </select>
                    <input id="level" name="level" placeholder="2"/>
                    <label>Klasa i Poziom</label>
                </li>
                <li>
                    <label for="background">Pochodzenie</label>
                    <input id="background" name="background" placeholder="Akolita"/>
                </li>
                <li>
                    <label for="playername">Imię gracza</label>
                    <input id="playername" placeholder="{{ request.user }}" readonly>
                </li>
                <li>
                    <label for="race">Rasa</label>
                    <select id="race" name="race">
                        {% for race in races %}
                        <option>{{ race }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label for="alignment">Charakter</label>
                    <select id="alignment" name="alignment">
                        {% for alignment in alignments %}
                        <option>{{ alignment }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label for="experiencepoints">Punkty doświadczenia</label>
                    <input id="experiencepoints" name="experiencepoints" placeholder="3240"/>
                </li>
            </ul>
        </section>
    </header>
    <main>
        <section>
            <section class="attributes">
                <div class="scores">
                    <ul>
                        <li>
                            <div class="score">
                                <label for="Strengthscore">Siła</label>
                                <input id="Strengthscore" name="Strengthscore" placeholder="10" class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Strengthmod" name="Strengthmod" placeholder="+0" class="statmod"/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Dexterityscore">Zręczność</label>
                                <input id="Dexterityscore" name="Dexterityscore" placeholder="10" class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Dexteritymod" name="Dexteritymod" placeholder="+0" class=statmod/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Constitutionscore">Kondycja</label>
                                <input id="Constitutionscore" name="Constitutionscore" placeholder="10" class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Constitutionmod" name="Constitutionmod" placeholder="+0" class="statmod"/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Wisdomscore">Mądrość</label>
                                <input id="Wisdomscore" name="Wisdomscore" placeholder="10" class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Wisdommod" name="Wisdommod" placeholder="+0"/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Intelligencescore">Inteligencja</label>
                                <input id="Intelligencescore" name="Intelligencescore" placeholder="10" class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Intelligencemod" name="Intelligencemod" placeholder="+0" class="statmod"/>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Charismascore">Charyzma</label>
                                <input id="Charismascore" name="Charismascore" placeholder="10" class="stat"/>
                            </div>
                            <div class="modifier">
                                <input id="Charismamod" name="Charismamod" placeholder="+0" class="statmod"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="attr-applications">
                    <div class="inspiration box">
                        <div class="label-container">
                            <label for="inspiration">Inspiracja</label>
                        </div>
                        <input id="inspiration" type="checkbox"/>
                    </div>
                    <div class="proficiencybonus box">
                        <div class="label-container">
                            <label for="proficiencybonus">Bonus Biegłości</label>
                        </div>
                        <input id="proficiencybonus" name="proficiencybonus" placeholder="+2"/>
                    </div>
                    <div class="saves list-section box">
                        <ul>
                            <li>
                                <label for="Strength-save">Siła</label>
                                <input id="Strength-save" name="Strength-save" placeholder="+0" type="text"/>
                                <input id="Strength-save-prof" name="Strength-save-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Dexterity-save">Zręczność</label>
                                <input id="Dexterity-save" name="Dexterity-save" placeholder="+0" type="text"/>
                                <input id="Dexterity-save-prof" name="Dexterity-save-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Constitution-save">Kondycja</label>
                                <input id="Constitution-save" name="Constitution-save" placeholder="+0" type="text"/>
                                <input id="Constitution-save-prof" name="Constitution-save-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Wisdom-save">Mądrość</label>
                                <input id="Wisdom-save" name="Wisdom-save" placeholder="+0" type="text"/>
                                <input id="Wisdom-save-prof" name="Wisdom-save-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Intelligence-save">Inteligencja</label>
                                <input id="Intelligence-save" name="Intelligence-save" placeholder="+0" type="text"/>
                                <input id="Intelligence-save-prof" name="Intelligence-save-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Charisma-save">Charyzma</label>
                                <input id="Charisma-save" name="Charisma-save" placeholder="+0" type="text"/>
                                <input id="Charisma-save-prof" name="Charisma-save-prof" type="checkbox"/>
                            </li>
                        </ul>
                        <div class="label">
                            Rzuty Obronne
                        </div>
                    </div>
                    <div class="skills list-section box">
                        <ul>
                            <li>
                                <label for="Acrobatics">Akrobatyka <span class="skill">(Zrc)</span></label>
                                <input id="Acrobatics" name="Acrobatics" placeholder="+0" type="text"/>
                                <input id="Acrobatics-prof" name="Acrobatics-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Animal Handling">Op. nad zwierz. <span
                                        class="skill">(Mdr)</span></label>
                                <input id="Animal Handling" name="Animal Handling" placeholder="+0" type="text"/>
                                <input id="Animal Handling-prof" name="Animal Handling-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Arcana">Wiedza tajemna <span class="skill">(Int)</span></label>
                                <input id="Arcana" name="Arcana" placeholder="+0" type="text"/>
                                <input id="Arcana-prof" name="Arcana-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Athletics">Atletyka <span class="skill">(Str)</span></label>
                                <input id="Athletics" name="Athletics" placeholder="+0" type="text"/>
                                <input id="Athletics-prof" name="Athletics-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Deception">Oszustwo <span class="skill">(Cha)</span></label>
                                <input id="Deception" name="Deception" placeholder="+0" type="text"/>
                                <input id="Deception-prof" name="Deception-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="History">Historia <span class="skill">(Int)</span></label>
                                <input id="History" name="History" placeholder="+0" type="text"/>
                                <input id="History-prof" name="History-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Insight">Intuicja <span class="skill">(Mdr)</span></label>
                                <input id="Insight" name="Insight" placeholder="+0" type="text"/>
                                <input id="Insight-prof" name="Insight-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Intimidation">Zastraszenie <span class="skill">(Cha)</span></label>
                                <input id="Intimidation" name="Intimidation" placeholder="+0" type="text"/>
                                <input id="Intimidation-prof" name="Intimidation-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Investigation">Śledztwo <span class="skill">(Int)</span></label>
                                <input id="Investigation" name="Investigation" placeholder="+0" type="text"/>
                                <input id="Investigation-prof" name="Investigation-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Medicine">Medycyna <span class="skill">(Mdr)</span></label>
                                <input id="Medicine" name="Medicine" placeholder="+0" type="text"/>
                                <input id="Medicine-prof" name="Medicine-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Nature">Przyroda <span class="skill">(Int)</span></label>
                                <input id="Nature" name="Nature" placeholder="+0" type="text"/>
                                <input id="Nature-prof" name="Nature-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Perception">Percepcja <span class="skill">(Mdr)</span></label>
                                <input id="Perception" name="Perception" placeholder="+0" type="text"/>
                                <input id="Perception-prof" name="Perception-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Performance">Występy <span class="skill">(Cha)</span></label>
                                <input id="Performance" name="Performance" placeholder="+0" type="text"/>
                                <input id="Performance-prof" name="Performance-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Persuasion">Perswazja <span class="skill">(Cha)</span></label>
                                <input id="Persuasion" name="Persuasion" placeholder="+0" type="text"/>
                                <input id="Persuasion-prof" name="Persuasion-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Religion">Religia <span class="skill">(Int)</span></label>
                                <input id="Religion" name="Religion" placeholder="+0" type="text"/>
                                <input id="Religion-prof" name="Religion-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Sleight of Hand">Zwinne dłonie <span class="skill">(Zrc)</span></label>
                                <input id="Sleight of Hand" name="Sleight of Hand" placeholder="+0" type="text"/>
                                <input id="Sleight of Hand-prof" name="Sleight of Hand-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Stealth">Skradanie się <span class="skill">(Zrc)</span></label>
                                <input id="Stealth" name="Stealth" placeholder="+0" type="text"/>
                                <input id="Stealth-prof" name="Stealth-prof" type="checkbox"/>
                            </li>
                            <li>
                                <label for="Survival">Szt. przetrwania <span class="skill">(Mdr)</span></label>
                                <input id="Survival" name="Survival" placeholder="+0" type="text"/>
                                <input id="Survival-prof" name="Survival-prof" type="checkbox"/>
                            </li>
                        </ul>
                        <div class="label">
                            Umiejętności
                        </div>
                    </div>
                </div>
            </section>
            <div class="passive-perception box">
                <div class="label-container">
                    <label for="passiveperception">Mądrość Pasywna (Percepcja)</label>
                </div>
                <input id="passiveperception" name="passiveperception" placeholder="10"/>
            </div>
            <div class="otherprofs box textblock">
                <label for="otherprofs">Inne Biegłości i języki</label>
                <textarea id="otherprofs" name="otherprofs"></textarea>
            </div>
        </section>
        <section>
            <section class="combat">
                <div class="armorclass">
                    <div>
                        <label for="ac">Klasa Pancerza</label>
                        <input id="ac" name="ac" placeholder="10" type="text"/>
                    </div>
                </div>
                <div class="initiative">
                    <div>
                        <label for="initiative">Inicjatywa</label>
                        <input id="initiative" name="initiative" placeholder="+0" type="text"/>
                    </div>
                </div>
                <div class="speed">
                    <div>
                        <label for="speed">Szybkość</label>
                        <input id="speed" name="speed" placeholder="30" type="text"/>
                    </div>
                </div>
                <div class="hp">
                    <div class="regular">
                        <div class="max">
                            <label for="maxhp">PW Maksymalne</label>
                            <input id="maxhp" name="maxhp" placeholder="10" type="text"/>
                        </div>
                        <div class="current">
                            <label for="currenthp">Aktualne PW</label>
                            <input id="currenthp" name="currenthp" type="text"/>
                        </div>
                    </div>
                    <div class="temporary">
                        <label for="temphp">Tymczasowe PW</label>
                        <input id="temphp" name="temphp" type="text"/>
                    </div>
                </div>
                <div class="hitdice">
                    <div>
                        <div class="total">
                            <label onclick="totalhd_clicked()" for="totalhd">Łącznie</label>
                            <input id="totalhd" name="totalhd" placeholder="2k10" type="text"/>
                        </div>
                        <div class="remaining">
                            <label for="remaininghd">Kość Wytrzymałości</label>
                            <input id="remaininghd" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="deathsaves">
                    <div>
                        <div class="label">
                            <label>Rzuty przeciw śmierci</label>
                        </div>
                        <div class="marks">
                            <div class="deathsuccesses">
                                <label>Sukcesy</label>
                                <div class="bubbles">
                                    <input name="deathsuccess1" type="checkbox"/>
                                    <input name="deathsuccess2" type="checkbox"/>
                                    <input name="deathsuccess3" type="checkbox"/>
                                </div>
                            </div>
                            <div class="deathfails">
                                <label>Porażki</label>
                                <div class="bubbles">
                                    <input name="deathfail1" type="checkbox"/>
                                    <input name="deathfail2" type="checkbox"/>
                                    <input name="deathfail3" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="attacksandspellcasting">
                <div>
                    <label>Ataki i czary</label>
                    <table>
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Bonus do ataku</th>
                            <th>Obrażenia/Typ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input name="atkname1" type="text"/></td>
                            <td><input name="atkbonus1" type="text"/></td>
                            <td><input name="atkdamage1" type="text"/></td>
                        </tr>
                        <tr>
                            <td><input name="atkname2" type="text"/></td>
                            <td><input name="atkbonus2" type="text"/></td>
                            <td><input name="atkdamage2" type="text"/></td>
                        </tr>
                        <tr>
                            <td><input name="atkname3" type="text"/></td>
                            <td><input name="atkbonus3" type="text"/></td>
                            <td><input name="atkdamage3" type="text"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <textarea></textarea>
                </div>
            </section>
            <section class="equipment">
                <div>
                    <label>Ekwipunek</label>
                    <div class="money">
                        <ul>
                            <li>
                                <label for="cp">SM</label>
                                <input id="cp" name="cp"/>
                            </li>
                            <li>
                                <label for="sp">SS</label>
                                <input id="sp" name="sp"/>
                            </li>
                            <li>
                                <label for="ep">SE</label>
                                <input id="ep" name="ep"/>
                            </li>
                            <li>
                                <label for="gp">SZ</label>
                                <input id="gp" name="gp"/>
                            </li>
                            <li>
                                <label for="pp">SP</label>
                                <input id="pp" name="pp"/>
                            </li>
                        </ul>
                    </div>
                    <textarea placeholder="Lista ewkipunku"></textarea>
                </div>
            </section>
        </section>
        <section>
            <section class="flavor">
                <div class="personality">
                    <label for="personality">Osobowość</label>
                    <textarea id="personality" name="personality"></textarea>
                </div>
                <div class="ideals">
                    <label for="ideals">Ideały</label>
                    <textarea id="ideals" name="ideals"></textarea>
                </div>
                <div class="bonds">
                    <label for="bonds">Więzi</label>
                    <textarea id="bonds" name="bonds"></textarea>
                </div>
                <div class="flaws">
                    <label for="flaws">Wady</label>
                    <textarea id="flaws" name="flaws"></textarea>
                </div>
            </section>
            <section class="features">
                <div>
                    <label for="features">Zdolności i korzyści</label>
                    <textarea id="features" name="features"></textarea>
                </div>
            </section>
        </section>
    </main>
</form>
<div style="text-align: center">
    <button type="submit" form="charsheet" class="butt">Dodaj postać</button>
</div>
{% endblock content %}
